@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kolker+Brush&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: black;
}
header{
    display: flex;
    height: 15vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
header > a{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    padding: 8px;
    border-radius: 3px;
    background-color: white;
    margin: 10px;
    color: black;
}
header > h3{
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-size: 40px;
}
main{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
}
/* accordion*/
.title{
    height: 80px;
    background-color: rgb(26, 26, 26);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
}
.content{
    background-color: black;
    height: 0px;
    overflow: hidden;
}
input{
    position: relative;
    position: absolute;
    width: 100%;
    height: 80px;
    opacity: 0;
    cursor: pointer;
   transition: 5s;
  
}
input:checked + .title + .content{
    height: auto;
    padding: 30px;
    border: 1px solid rgb(60, 60, 60);
}
.ıtems{
    margin-bottom: 50px;
}
input:checked + .title{
    background-color: rgb(60, 60, 60);
}
input:hover + .title{
    background-color:rgb(60, 60, 60);
}

.title::before{
    content:'+ ';
   margin-right: 10px;
   font-size: 25px;
}
input:checked + .title::before{
    content:'- ';
   font-size: 25px;
}
.resmi{
    height: 200px;
    width: 160px;
    margin: 15px;
}
.içerik{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.içerik > h4{
    color: white;
    font-family:Poor Story;
    font-size: 30px;
}
.içerik > p{
    color: white;
    font-family: Lato;
    font-size: 20px;
    margin: 15px;
}
.içerik > .resmim{
    height: 200px;
    width: 300px;
    margin: 15px;
}
.içerik > .res{
    height: 200px;
    width: 350px;
    margin: 15px;
}

@media(max-width:450px){
    header > h3{
        font-size: 20px;
    }
    header > a{
        font-size: 14px;
        padding: 4px;

    }
    main{
        padding: 10px;
    }
    .title{
        height: 45px;
        font-size: 15px;
        padding-left: 10px;
    }
    input{
        height: 45px;

    }
    input:checked + .title + .content{
        padding: 15px;
    }
    .ıtems{
        margin: 30px;
    }
    .resmi{
        height: 170px;
        width: 120px;
        margin: 10px;
    }
    .içerik > h4{ 
        font-size: 20px;
    }
    .içerik > p{
        font-size: 15px;
        margin: 10px;
    }
    .içerik > .resmim{
        height: 180px;
        width: 280px;
        margin: 10px;
    }
    .içerik > .res{
        height: 180px;
        width: 320px;
        margin: 10px;
    }
}
