@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap'); 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    background-color: black;
}
header{
    grid-area: header;
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 15vh;
    width: 100%;
}
header > h3{
    color: white;  
    font-family: 'Anton', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-size: 40px;
    cursor: pointer;
}
header > ul{
    display: flex;
    list-style: none;
}
header > ul > li{
    margin-left: 15px;
}
header > ul > li > a{
    color: white;
    text-decoration: white;
    font-family: 'Fira Sans', sans-serif;
  
    font-size: 18px;
}
header > ul > li > a:hover{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}
main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main > p{
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-size: 40px;
    margin: 20px;
    cursor: pointer;
}
main > img{
    height: 610px;
    width: 550px;
    cursor: pointer;
}
main > img:hover{
    height: 620px;
    width: 560px;
}
@media (max-width:450px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
        justify-content: space-around;
    }
    header > ul > li > a{
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        color: black;
        font-size: 10px;
       
    }
   main > p{
       font-size: 20px;
   }
   main > img{
    height: 340px;
    width: 280px;
   }
   main > img:hover{
       height:340px;
       width: 280px;
   }
    
}